body {
	font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Theme colors. */
:root {
  --mdc-theme-primary: #2c6fef;
  --mdc-theme-secondary: var(--mdc-theme-primary);
  --mdc-theme-background: #fff;
  --mdc-theme-surface: #fff;
  --mdc-theme-error: #b71c1c;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-on-surface: #000;
  --mdc-theme-on-error: #fff;
  --mdc-theme-callout: #eee;
  --mdc-theme-muted: #2c6fef20;
  --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.24);
  --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-dark: white;
  --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
	--mdc-typography-font-family: 'Plus Jakarta Sans';
}

:root {
  --mdc-layout-grid-margin-desktop: 24px;
  --mdc-layout-grid-gutter-desktop: 24px;
  --mdc-layout-grid-column-width-desktop: 72px;
  --mdc-layout-grid-margin-tablet: 16px;
  --mdc-layout-grid-gutter-tablet: 16px;
  --mdc-layout-grid-column-width-tablet: 72px;
  --mdc-layout-grid-margin-phone: 16px;
  --mdc-layout-grid-gutter-phone: 16px;
  --mdc-layout-grid-column-width-phone: 72px;
}

:root {
  --top-app-bar-height: 64px;
}

code {
  font-family: 'Roboto Mono', monospace;
  background-color: var(--mdc-theme-callout);
  padding: 0 4px;
  border-radius: 4px;
}

.mdc-top-app-bar__row {
  height: var(--top-app-bar-height);
}

main.main-content {
  height: calc(100vh - var(--top-app-bar-height)) !important;
  overflow-x: hidden;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled, .mdc-text-field--invalid) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

.login .mdc-text-field {
  margin-top: 16px;
}

.mdc-drawer-app-content {
  overflow: hidden !important;
}

.mdc-drawer .mdc-deprecated-list-item--activated, .mdc-drawer .mdc-deprecated-list-item--activated .mdc-deprecated-list-item__graphic {
  color: var(--mdc-theme-primary);
}

.mdc-data-table {
  max-width: 100%;
}

.mdc-data-table__row {
  transition: background-color 0.2s;
}

.mdc-top-app-bar .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--mdc-theme-text-hint-on-light);
}

.mdc-top-app-bar .mdc-text-field--filled {
  width: 320px;
}

.mdc-top-app-bar .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--mdc-theme-text-hint-on-light);
}

.mdc-top-app-bar .mdc-text-field--filled .mdc-text-field__input {
  color: var(--mdc-theme-on-primary);
}

.mdc-top-app-bar .mdc-text-field--filled .mdc-line-ripple::after {
  border-bottom-color: var(--mdc-theme-on-primary);
}

.search .mdc-floating-label {
  color: var(--mdc-theme-on-primary) !important;
}

.mdc-top-app-bar .search {
  /* align-self: flex-start; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 16px;
  overflow: visible;
}

.mdc-top-app-bar .search .mdc-list-group {
  position: absolute;
  height: 0;
  width: 100%;
  margin-top: 64px;
  background-color: var(--mdc-theme-background);
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px var(--mdc-theme-text-hint-on-light);
  overflow: hidden;
  transition: height 0.3s ease-out;
}

.mdc-top-app-bar .search .mdc-text-field--focused + .mdc-list-group, .mdc-top-app-bar .search .mdc-list-group:hover {
  height: fit-content;
}

.smui-paper {
  padding: 32px;
}

.smui-paper .mdc-text-field {
  display: flex;
}

.middle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.middle .label {
  margin-left: 4px;
}

.papers {
  display: flex;
  flex-direction: column;
}

.papers .paper {
  margin-block: 16px;
  border-radius: 4px;
  color: var(--mdc-theme-text-primary-on-background);
  overflow: hidden;
}

.papers .paper {
  cursor: pointer;
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

.papers .paper:hover {
  transform: translateY(-4px);
  opacity: 1;
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.2);
}

.callout {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
  width: 100%;
  background-color: var(--mdc-theme-callout);
  box-sizing: border-box;
  border-radius: 4px;
  opacity: 1;
  transform: scale(1);
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

.callout img.emoji {
  font-size: 24px;
}

.emoji-container {
  margin-right: 20px;
}

.column {
  display: flex;
  flex-direction: column;
}

.zero {
  height: 0;
}

a, button, input, textarea {
  outline: none;
  border: 0;
  font-family: 'Plus Jakarta Sans';
  text-decoration: none;
}

p a, li a, section a {
  color: var(--mdc-theme-primary);
  text-decoration: none;
  opacity: 1;
  transition: 0.3s;
}

p a:hover, li a:hover, section a:hover {
  opacity: 0.75;
}

h1, h2, h3, h4, p, ul {
  opacity: 1;
  transform: translate(0);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

h1, h2, h3, h4 {
  margin-block: 1em 0.5em;
}

h1 {
  color: var(--mdc-theme-on-surface);
  font-size: 48px;
}

h2 {
  color: var(--mdc-theme-on-surface);
  font-size: 32px;
}

h3 {
  color: var(--mdc-theme-on-surface);
  font-size: 24px;
}

h4 {
  color: var(--mdc-theme-on-surface);
  font-size: 20px;
}

ul {
  list-style-type: disc;
}

ol {
  padding-inline-start: 32px;
}

main section {
  max-width: 800px;
  margin: auto;
}

.katex-display {
  font-size: 24px;
}

.katex .katex-html>.newline {
  height: 8px;
}